 @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Seymour+One&display=swap');

.name {
    font-family: 'Seymour One', sans-serif;     
    font-weight: 800;
    background-color: #748E63;
    color: #F9B572;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}

.name h1
{
    font-size: auto ;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.btn.btn-danger a {
    text-decoration: none ;
    outline: none ;
    color: inherit;
}


#firstContainer{
    background-color: #FFFFEC;
    padding-top: 10px;
}

body{
    background-color: #F1E4C3 !important ;
}

button{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
